<div class="mainon">
  <div style="width: 375px; height: 100%; position:relative; margin:auto;">
    <div class="backgroundlevel1">
      <img class="rectangle" src="img/mainon-rectangle.png"/>
    </div>
    <div class="menu">
      <img class="path" src="public/stylesheets/images/mainon-path@2x.png"/>
      <img class="path1" src="public/stylesheets/images/ 1@2x.png"/>
      <img class="path2" src="public/stylesheets/images/ 2@2x.png"/>
    </div>
    <div class="placename">
      <div class="placename">
        Place name
      </div>
    </div>
    <div class="adddevicebutton">
      <img class="shape" src="img/mainon-shape@2x.png"/>
    </div>
    <div class="underbar">
      <img class="rectangle2" src="img/mainon-rectangle-2.png"/>
      <img class="path3" src="img/mainon-path-3.png"/>
    </div>
    <div class="reservationoffcopy">
      <div class="uc608uc57dubaa8ub4dc">
        예약 모드
      </div>
      <div class="rectangle">
      </div>
      <img class="oval11" src="img/mainon-oval-11@2x.png"/>
      <img class="rectangle1" src="img/mainon-rectangle 1@2x.png"/>
      <img class="rectangle2" src="img/mainon-rectangle 2@2x.png"/>
      <img class="oval8" src="img/mainon-oval-8@2x.png"/>
      <img class="oval9" src="img/mainon-oval-9@2x.png"/>
      <img class="oval10" src="img/mainon-oval-10@2x.png"/>
      <img class="oval111" src="img/mainon-oval-11 1@2x.png"/>
      <img class="oval12" src="img/mainon-oval-12@2x.png"/>
    </div>
    <div class="sleepoffcopy">
      <div class="ucde8uce68ubaa8ub4dc">
        취침 모드
      </div>
      <img class="oval10" src="img/mainon-oval-10 1@2x.png"/>
      <img class="oval12" src="img/mainon-oval-12 1@2x.png"/>
    </div>
    <div class="lowpoweroffcopy">
      <div class="uc800uc804ub825ubaa8ub4dc">
        저전력 모드
      </div>
      <div class="rectangle5">
      </div>
      <div class="rectangle5copy">
      </div>
      <div class="rectangle9copy4">
      </div>
      <img class="oval12copy" src="img/mainon-oval-12-copy@2x.png"/>
    </div>
    <div class="useroncopy">
      <div class="uc0acuc6a9uc790ubaa8ub4dc">
        사용자 모드
      </div>
      <img class="oval12" src="img/mainon-oval-12 2@2x.png"/>
      <img class="rectangle7" src="img/mainon-rectangle-7@2x.png"/>
      <img class="oval8" src="img/mainon-oval-8 1@2x.png"/>
      <img class="oval9" src="img/mainon-oval-9 1@2x.png"/>
    </div>
    <div class="moreinformation">
      <img class="path2" src="img/mainon-path-2@2x.png"/>
    </div>
    <div class="exellent">
      <div class="exellent">
        Exellent !
      </div>
    </div>
    <div class="exellenttip">
      <div class="ub0a0uc528uac00uc88buc73cub2c8uc0b0ucc45ud574ubcf4uc2dcub294uac74uc5b4ub5a0uc2e0">
        날씨가 좋으니 산책해보시는 건 어떠신가요?
      </div>
    </div>
    <img class="oval8" src="img/mainon-oval-8 2@2x.png"/>
    <img class="oval7" src="img/mainon-oval-7@2x.png"/>
    <img class="oval6" src="img/mainon-oval-6@2x.png"/>
    <img class="oval5" src="img/mainon-oval-5@2x.png"/>
    <img class="oval4" src="img/mainon-oval-4@2x.png"/>
    <img class="oval3" src="img/mainon-oval-3@2x.png"/>
    <img class="oval2" src="img/mainon-oval-2@2x.png"/>
    <img class="oval1" src="img/mainon-oval-1@2x.png"/>
    <div class="mainpowericon1">
      <img class="oval" src="img/mainon-oval@2x.png"/>
    </div>
    <div class="pm10ub2e8uc704">
      <div class="pgu33a5">
        pg / ㎥
      </div>
    </div>
  </div>
</div>
